.toolBar{
    height: 56px;
    width: 100%; 
    position: fixed;
    top:0;
    left:0;
    background-color: #703b09;
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
    grid-template-rows: 55px;
    padding: 10px;
    box-sizing: border-box;
    z-index: 90;
    text-align: center;
}

.toolBar nav{
    height: 100%;
}


@media(max-width:700px){
    .desktopOnly{
        display: none;
    }
}

.DrawerToggle {
    width: 40px;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    box-sizing: border-box;
    cursor: pointer;
}

.DrawerToggle div {
    width: 90%;
    height: 3px;
    background-color: white;
}

@media (min-width: 700px) {
    .DrawerToggle {
        display: none;
    }
}
